<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Beepus</title>
    </head>
    <body>
        {{#if user}}
            <h1>Hello {{user.username}}!</h1>
            {{#if member}}
                <p>You joined the server on {{member.joinedAt}}</p>
                {{#if realuserStatus.registered}}
                    <h3>Well hello there {{realuser.firstname}} {{realuser.lastname}}</h3>
                {{else if realuserStatus.pending}}
                        <h3>Your submission is being reviewed <a href="/welcome">View Details</a></h3>
                {{else}}
                    <h2>You have not filled out the <a href="/welcome">Welcome form</a>!</h2>
                {{/if}}
            {{else}}
                <p>You are not a member of the server!</p>
            {{/if}}

            <a href="/auth/logout">Log out here</a>
        {{else}}
            <a href="/auth/login">Please log in</a>
        {{/if}}
    </body>
</html>