<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Welcome!</title>
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/submission.css">
    </head>
    <body>
        {{#if user}}
            {{#if member}}
                {{#if realuserStatus.notRegistered}}
                    <h1>Hello there {{member.user.tag}}!</h1>
                    <p>The following form will be sent to an admin for review before you are granted access to the server</p>
                    <form method="POST" action="/welcome" autocomplete="on">
                        <ul class="form">
                            <li>
                                <label>Full name <span class="required">*</span></label>
                                <input type="text" name="firstname" placeholder="First" required="true" class="side" />
                                <input type="text" name="lastname" placeholder="Last" required="true" class="side" />
                            </li>
                            <li>
                                <label>Username <span class="required">*</span></label>
                                <input type="text" name="username" disabled="true" value="{{member.user.tag}}" />
                            </li>
                            <li>
                                <label>Who invited you <span class="required">*</span></label>
                                <input type="text" name="inviter" placeholder="Inviter" required="true" />
                            </li>
                            <li>
                                <label>Any more info</label>
                                <textarea name="info" placeholder="Extra info"></textarea>
                            </li>
                            <li>
                                <input type="submit" value="Send" />
                            </li>
                        </ul>
                        <input type="hidden" value="{{token}}" name="token" />
                    </form>
                {{else if realuserStatus.pending}}
                    <h1>Your submission is being reviewed</h1>
                    <p>
                        <h3>You submitted:</h3>
                        <div><h3>First Name:</h3><pre>{{realuser.user.firstname}}</pre></div>
                        <div><h3>Last Name:</h3><pre>{{realuser.user.lastname}}</pre></div>
                        <div><h3>Inviter:</h3><pre>{{realuser.user.inviter}}</pre></div>
                        <div><h3>Extra Info:</h3><pre>{{realuser.user.info}}</pre></div>
                    </p>
                    <a href="/">Go home</a>
                {{else}}
                    <h1>You are already registered</h1>
                    <a href="/">Go home</a>
                {{/if}}
            {{else}}
                <h1>You are not in the server</h1>
                <a href="/">Go home</a>
            {{/if}}
        {{else}}
            <a href="/auth/login">Please log in</a>
        {{/if}}
    </body>
</html>